# Build output
dist/

# Astro artifacts
.astro/

# Wrangler artifacts
.vercel/output

# Dependencies
node_modules/

# Logs
*.log*
tsconfig.tsbuildinfo*

# Environment variables
.env*
!.env.example

# OS files
.DS_Store
Thumbs.db
.vercel
