---
import { Image } from 'astro:assets';
import Layout from '@/pages/_layouts/Layout.astro';
import Logo from '../../../public/logo.png';
import StartButtonPng from './_images/start-button.png';
---

<Layout>
  <h1 class="logo">
    <Image src={Logo} alt="Meデコ" />
  </h1>

  <a class="link" href="/pick-inner">
    <img class="link-img" src={StartButtonPng.src} alt="Meデコ" />
  </a>
</Layout>

<style>
  .link {
    text-decoration: none;
  }

  .logo {
    width: 80%;
    max-width: 300px;
    height: 100%;
  }

  .link {
    display: block;
    margin: 0 auto;
  }

  .link-img {
    height: 80px;
  }
</style>
