---
import Layout from '@/pages/_layouts/Layout.astro';
---

<script>
  import Cropper from 'cropperjs';
  import 'cropperjs/dist/cropper.css';

  let cropper: Cropper | null = null;

  document.addEventListener('DOMContentLoaded', () => {
    const baseImage = document.getElementById('baseImage') as HTMLImageElement;
    const previewBase = document.getElementById(
      'previewBase',
    ) as HTMLImageElement;
    const trimButton = document.getElementById(
      'trimButton',
    ) as HTMLImageElement;
    const applyTrimButton = document.getElementById(
      'applyTrim',
    ) as HTMLImageElement;

    baseImage?.addEventListener('change', function (event) {
      const file = (event.target as HTMLInputElement).files?.[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          previewBase.src = e.target?.result as string;
          previewBase.style.display = 'block';
          if (trimButton) {
            trimButton.style.display = 'inline-block';
          }
        };
        reader.readAsDataURL(file);
      }
    });

    trimButton?.addEventListener('click', function () {
      if (cropper) {
        cropper.destroy();
      }
      cropper = new Cropper(previewBase, {
        aspectRatio: NaN,
        viewMode: 1,
      });
      trimButton.style.display = 'none';
      applyTrimButton.style.display = 'inline-block';
    });

    applyTrimButton?.addEventListener('click', function () {
      if (cropper) {
        const croppedCanvas = cropper.getCroppedCanvas();
        previewBase.src = croppedCanvas.toDataURL();
        cropper.destroy();
        cropper = null;
      }
      applyTrimButton.style.display = 'none';
      trimButton.style.display = 'inline-block';
    });
  });
</script>

<Layout title="ベース画像選択">
  <h1>ベース画像を選択してください</h1>
  <div class="image-upload">
    <input type="file" accept="image/*" id="baseImage" name="baseImage" />
    <div id="previewContainer">
      <img
        id="previewBase"
        src=""
        alt="ベースプレビュー"
        class="preview-image"
      />
    </div>
  </div>
  <button id="trimButton" class="trim-button" style="display: none;">
    トリミング
  </button>
  <button id="applyTrim" class="trim-button" style="display: none;">
    適用
  </button>
  <a href="/pick/oshi" class="next-link">次へ</a>
</Layout>

<style is:global>
  #layout-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
</style>

<style>
  .image-upload-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .preview-image {
    display: none;
    max-width: 300px;
    max-height: 300px;
    margin-top: 10px;
  }

  .trim-button {
    padding: 5px 10px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    background-color: #4caf50;
    border: none;
    border-radius: 3px;
  }

  .trim-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .trim-content {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    gap: 10px;
    transform: translateX(-50%);
  }

  #applyTrim,
  #cancelTrim {
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    background-color: #4caf50;
    border: none;
    border-radius: 3px;
  }

  #cancelTrim {
    background-color: #f44336;
  }

  .cropper-container {
    z-index: 1001;
  }

  #cropperContainer {
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 10px;
  }

  .next-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    background-color: #4caf50;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .next-link:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }

  .next-link:active {
    background-color: #3e8e41;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }
</style>
