---
import Layout from '@/pages/_layouts/Layout.astro';
---

  <script>
    function previewImage(input, previewId) {
      const preview = document.getElementById(previewId);
      const file = input.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          preview.src = e.target.result;
          preview.style.display = 'block';
        }
        reader.readAsDataURL(file);
      }
    }

    document.getElementById('image1').addEventListener('change', function() {
      previewImage(this, 'preview1');
    });

    document.getElementById('image2').addEventListener('change', function() {
      previewImage(this, 'preview2');
    });
  </script>

<Layout>
  <div class="image-upload-container">
    <div class="image-upload">
      <input type="file" accept="image/*" id="image1" name="image1" />
      <img id="preview1" src="" alt="プレビュー1" class="preview-image" />
    </div>
    <div class="image-upload">
      <input type="file" accept="image/*" id="image2" name="image2" />
      <img id="preview2" src="" alt="プレビュー2" class="preview-image" />
    </div>
  </div>

  <a class="next-link" href="/generate">作成する</a>
</Layout>

<style is:global>
  #layout-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
</style>

<style>

  .image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .preview-image {
    display: none;
    max-width: 300px;
    max-height: 300px;
    margin-top: 10px;
  }

  .next-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    background-color: #4caf50;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .next-link:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }

  .next-link:active {
    background-color: #3e8e41;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }
</style>
