<script>
  import './transition/swup';
</script>

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Meデコ</title>
  </head>

  <body>
    <main id="layout-main" class="swup-slide">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @stylex stylesheet;

  html {
    font-family: system-ui, sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin: 0;
    background: linear-gradient(
      to bottom,
      #ffe69c 0%,
      #ffd6aa 33%,
      #ffcad4 66%,
      #ffa7d1 100%
    );
    background-attachment: fixed;
  }

  #layout-main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  html.is-changing .swup-slide {
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 400ms;
    transition-property: opacity, transform;
    transform: translate3d(0, 0, 0);
  }

  html.is-animating .swup-slide {
    opacity: 0;
    transform: translate3d(0, 60px, 0);
  }
  html.is-animating.is-popstate .swup-slide {
    transform: translate3d(0, -60px, 0);
  }

  html.is-animating.is-leaving .swup-slide {
    transform: translate3d(0, -60px, 0);
  }
  html.is-animating.is-leaving.is-popstate .swup-slide {
    transform: translate3d(0, 60px, 0);
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
</style>
